html {
  color: #000000;
  height: 100vh;
}
html p {
  font-family: 'Montserrat', sans-serif;
}
html h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}
html h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}
@media (max-width: 768px) {
  html h2 {
    font-size: 1.5rem;
  }
}
html h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
}
html label {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  html label {
    font-size: 1rem;
  }
}
body {
  height: 100%;
}
@media (max-width: 768px) {
  body {
    padding: 5px;
  }
}
.main {
  margin: 5px auto 5px auto;
  width: 50%;
}
.main button,
.main button:hover,
.main button:active {
  background-color: #FF1293;
  color: white;
  border-color: #FF1293;
  min-width: 100px;
}
.main input[type=text],
.main input[type=date],
.main select {
  font-weight: 300;
  font-size: 15px;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.01), 0px 0px 3px rgba(0, 0, 0, 0.2);
  background: white;
  width: 70%;
}
@media (max-width: 768px) {
  .main {
    width: 90%;
    margin: 0 auto;
    border: none;
    min-height: 0;
    box-shadow: none;
  }
  .main h1 {
    font-size: 1.5rem;
  }
}
#adminLink {
  color: #555555;
  padding: 5px 0 0 5px;
}
@media (max-width: 768px) {
  #adminLink {
    display: none;
  }
}
#bottomDiv {
  padding-bottom: 38px;
}
.footer-flex {
  display: flex;
  width: 100%;
  padding-bottom: 5px;
  padding-left: 10px;
}
.footer-flex .right {
  margin-left: 10px;
}
@media (max-width: 768px) {
  .footer-flex {
    padding-left: 15%;
  }
  .footer-flex .right {
    margin-left: 10px;
  }
}
.studentform {
  padding-top: 10%;
  position: relative;
}
@media (max-width: 768px) {
  .studentform {
    padding-top: 8%;
  }
}
.form-toptext {
  margin-bottom: 10px;
}
.form-toptext p {
  padding-left: 10px;
}
@media (max-width: 768px) {
  .form-toptext {
    margin: 0 auto;
    width: 80%;
    padding-left: 16px;
  }
  .form-toptext p {
    padding-left: 0;
  }
}
.form-group {
  padding: 10px;
  border: 1px solid #fbfbfb9c;
  border-radius: 4px;
  background-color: #fbfbfb9c;
}
@media (max-width: 768px) {
  .form-group {
    padding-left: 15%;
  }
}
.hidden {
  display: none;
}
label[class=error] {
  color: #FF1293;
  font-size: 0.95rem;
  position: absolute;
  min-width: 150px;
}
.main.impression label[class=error] {
  margin-top: 30px;
}
#snackbar {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  display: none;
  min-width: 400px;
  margin-left: -125px;
  background-color: #FF1293;
  color: white;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}
#snackbar.show {
  display: block;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
.main-admin {
  padding-top: 5%;
  margin: 0 auto;
  width: 75%;
}
.main-admin select {
  min-width: 100px;
}
.main-admin a {
  color: #555555;
}
